body {
    width: 100%;
    overflow-x: hidden;
    color: white;
    scroll-behavior: smooth;
}

.header {
    background-color: #6f42c1;
    width: 100vw;
    position: fixed;
}

.purple-content {
    background-color: #543292;
}

.center-content {
    padding: 7rem 15rem;
}

.project-desc {
    width: 50%;
}

.project-desc-right {
    margin-left: auto;
    text-align: right;
}

@media screen and (max-width: 600px) {
    .center-content {
        padding: 4rem 0.5rem !important;
    }

    .project-desc {
        width: 100% !important;
    }
}