body {
    width: 100%;
    overflow-x: hidden;
    color: white;
}

.header {
    background-color: #6f42c1;
    width: 100vw;
    position: fixed;
}

.purple-content {
    background-color: #543292;
}

.center-content {
    padding: 7rem 15rem;
}

@media screen and (max-width: 600px) {
    .center-content {
        padding : 7rem 0 !important;
    }
}